.wrapper {
  --red: rgb(196, 0, 0);
  --yellow: rgb(255, 255, 0);
  --green: rgb(0, 255, 0);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1b1b1b;
  color: white;

  .password-checker {
    display: flex;
    flex-direction: column;
    align-items: center;

    .password-checker__label {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
      font-size: 24px;

      .password-checker__input {
        border-radius: 5px;
        padding: 10px 5px;
        font-size: 16px;
      }
    }

    .password-checker__strength-indicators {
      display: flex;
      width: 100%;

      .indicator {
        height: 10px;
        margin: 0 5px;
        background-color: gray;
        border-radius: 5px;
        flex-grow: 1;
        transition: all 0.3s ease;
      }

      .indicator.red {
        background-color: var(--red);
        box-shadow: 0 0 10px var(--red);
      }

      .indicator.yellow {
        background-color: var(--yellow);
        box-shadow: 0 0 10px var(--yellow);
      }

      .indicator.green {
        background-color: var(--green);
        box-shadow: 0 0 10px var(--green);
      }
    }
  }
}
