<div class="wrapper">
  <div class="password-checker" [formGroup]="passwordForm">
    <label class="password-checker__label"
      >Password
      <input
        class="password-checker__input"
        type="text"
        id="password"
        name="password"
        formControlName="password"
        autocomplete="off"
      />
    </label>

    <div class="password-checker__strength-indicators">
      <div class="indicator" [ngClass]="strengthClasses[0]"></div>
      <div class="indicator" [ngClass]="strengthClasses[1]"></div>
      <div class="indicator" [ngClass]="strengthClasses[2]"></div>
    </div>
    <div class="errorMessage">{{ currentError }}</div>
  </div>
</div>
