<div class="wrapper">
  <div class="password-checker" [formGroup]="passwordForm">
    <label class="password-checker__label"
      >Password
      <input
        class="password-checker__input"
        type="password"
        id="password"
        name="password"
        formControlName="password"
        (input)="log()"
      />
    </label>

    <div class="password-checker__strength-indicators">
      <div class="indicator {{class}}" ></div>
      <div class="indicator"></div>
      <div class="indicator"></div>
    </div>
  </div>
</div>
